# MariaDB root initialisation password :
MARIADB_ROOT_PASSWORD=

# Postgres initialisation :
POSTGRES_USER=
POSTGRES_PASSWORD=

# MongoDB initialisation :
MONGODB_ROOT_USER=
MONGODB_ROOT_PASSWORD=

# For a specific user/group in the container :
user=
uid=
gid=
