/app/build/cache/
/app/build/logs/
/app/build/phpdoc/
/app/build/phpunit/
/app/node_modules/
/app/public/build/
/app/tools/
/app/var/
/app/vendor/
/app/.env.local
/app/.env.*.local
/mariadb/.password
