/.cache/
/app/assets/vendor/
/app/ci/infection/
/app/ci/logs/
/app/ci/phpdoc/
/app/ci/phpunit/
/app/ci/psalm/
/app/migrations/**/*.php
/app/migrations-test/**/*.php
/app/node_modules/
/app/public/assets/
/app/tools/
/app/var/
/app/vendor/
/app/.env.local
/app/.env.*.local
/httpd/logs/
!/httpd/logs/.gitignore
/httpd/.ashrc
/mariadb/datas/
/php/xdebug/
!/php/xdebug/.gitignore
/php/.ashrc
/postgres/datas/
/tls/server.*
/.env
/compose.override.yaml
