services:
    httpd:
        environment:
            - TZ=YOUR/ZONE
        ports:
            - "8000:8000"

    php:
        environment:
            - TZ=YOUR/ZONE
        volumes:
            - ./.cache/composer/:/var/www/.composer/
            - ./.cache/phive/:/var/www/.phive/
