/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {

    .fixed-top {
        max-width: 540px;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {

    .fixed-top {
        max-width: 720px;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

    .fixed-top {
        max-width: 960px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {

    .fixed-top {
        max-width: 1140px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {

    .fixed-top {
        max-width: 1320px;
    }
}

body {
    padding-top: 86px;
}
