{% extends 'base.html.twig' %}


{# SEO #}

{% set pageHeadTitle = 'Home' %}


{# Body #}

{% block main %}
    <div class="container p-5 bg-light">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Symfony Demo!</h1>

            <p class="col-md-8 fs-4">
                This is a simple Symfony demo using PHP 8.3, Symfony 7.0, AssetMapper and Bootstrap 5.3.
            </p>

            <hr class="my-4" />

            <p class="col-md-8 fs-5">
                Click the button bellow to see a CRUD example.
            </p>

            <a class="btn btn-primary btn-lg" href="{{ path('product_index') }}">Show products</a>
        </div>
    </div>
{% endblock %}
