APP_ENV=dev

# MariaDB connection :
MARIADB_URL="mysql://USER:PASSWORD@symfony-demo-mariadb-1:3306/symfony-demo?serverVersion=VERSION"

# Postgres connection :
POSTGRES_URL="postgresql://USER:PASSWORD@symfony-demo-postgres-1:5432/symfony-demo?charset=utf8&serverVersion=VERSION"

# MongoDB connection :
MONGODB_URI="mongodb://USER:PASSWORD@symfony-demo-mongodb-1:27017/"
MONGODB_DB=symfony-demo
